name: Release

on:
    push:
        branches:
            - main

jobs:
    release:
        if: github.repository == 'REPO_NAME'
        name: Release
        runs-on: ubuntu-latest
        permissions:
            id-token: write
            contents: write
            pull-requests: write
        steps:
            - name: Checkout
              uses: actions/checkout@v4
              with:
                  # This makes Actions fetch all Git history so that Changesets
                  # can generate changelogs with the correct commits.
                  fetch-depth: 0

            - name: Setup PNPM
              uses: pnpm/action-setup@v4.1.0

            - name: Setup Node 24
              uses: actions/setup-node@v4
              with:
                  node-version: 24
                  registry-url: https://registry.npmjs.org/
                  cache: pnpm

            - name: Install
              run: pnpm install --frozen-lockfile

            # - name: Build
            #   run: pnpm build

            - name: Create Release Pull Request
              uses: changesets/action@v1
              with:
                  publish: pnpm changeset publish
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
                  NPM_CONFIG_PROVENANCE: true
