name: Release Package

on:
    release:
        types:
            - created
jobs:
    release:
        name: Release
        runs-on: ubuntu-latest
        permissions:
            id-token: write
            contents: read
        steps:
            - name: Checkout
              uses: actions/checkout@v4

            - name: Setup PNPM
              uses: pnpm/action-setup@v4.1.0

            - name: Setup Node 24
              uses: actions/setup-node@v4
              with:
                  node-version: 24
                  registry-url: https://registry.npmjs.org/

            - name: Setup PNPM
              uses: pnpm/action-setup@v4.0.0
              with:
                  version: 9.14.2

            - name: Install
              run: pnpm install --frozen-lockfile

            - name: Build
              run: pnpm build

            - name: Publish
              run: pnpm publish --no-git-checks
